
<div class="container">
    {% if usetitlelogo %}
    {% if titlesize =="big" %}
    <img style="max-width:95vw; width:960px;" src="/img/{{ brandingutility }}.png"/>
    {% else %}
    <img style="max-width:95vw; width:300px;" src="/img/{{ brandingutility }}.png"/>
    {% endif %}
    {% else %}
    <h1 class="titleheader">{{ title }}</h1>
    {% endif %}

  {% if description or author %}
    <div style="margin-top:20px;display:flex;flex-wrap: wrap;justify-content: space-between;grid-template-columns: 1fr 1fr;border-top:1.5px solid #333">
    {% if description %}
    <p class="description">{{ description }}</p>
    {% endif %} 

    {% if author %}
    <p class="description">maintained by {{ author }}</p>
    {% endif %} 
    </div>
    </div>
  {% endif %}

    